@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// FONT
$font-primary: 'Roboto', sans-serif;

// COLORS
$color-primary: #FFD460;
$color-secondary: #F07B3F;
$color-black: #2D4059;
$color-red: #EA5455;
$color-white: #fff;